<table class="bingo bingo-element">
	{{#each this}}
		<tr>
		{{#each this}}
			<td id="{{this.id}}" class="{{joinWithSpaces this.classes}}">{{this.content}}</td>
		{{/each}}
		</tr>
	{{/each}}
</table>