<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    {{!-- Stretch to fill entire content area --}}
    <style type="text/css">
    	html, body {
    		height: 100%;
    		width: 100%;
    		margin: 0;
    		padding: 0;
    	}
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>
