{{> bingo-board this.card.board}}
<div class="bingo-info">
	<p class="medium">Seed: {{this.card.seed}}</p>
	<p class="medium">Link: {{this.permLink}}</p>
	<p class="small">If popouts don't work, turn off your popup blocker.</p>
</div>

<script src="/js/bingo-board.js"></script>